.test {
  display: grid;
  grid-template-columns: repeat(4, 320px);
  margin-bottom: 1rem;
}
.movies {
  margin: 45px;
  padding: 15px;
  transition: ease-out 0.3s;
}
.movies:hover {
  transform: scale(1.1);
}
h1 {
  color: white;
  text-align: center;
  margin: 4rem;
  padding-bottom: 0.7rem;

  font-size: 30px;
}
span {
  color: rgb(86, 206, 206);
}
img {
  width: 250px;
}
.search {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  margin-right: 10rem;
  height: 7rem;
}
input {
  margin-right: 0.5rem;
  padding: 0.5rem;
  outline: none;
}
button {
  border-radius: 0.5rem;
  width: 6rem;
  background-color: rgb(48, 95, 95);
  color: white;
  font-size: 1.5rem;
}

@media screen and (max-width: 1300px) {
  .test {
    display: grid;
    grid-template-columns: repeat(3, 400px);
  }
  img {
    width: 280px;
  }
  input {
    width: 200px;
  }
  button {
    width: 110px;
  }
  h1 {
    margin-left: 30px;
  }
}

@media screen and (max-width: 1144px) {
  .test {
    display: grid;
    grid-template-columns: repeat(3, 350px);
  }
  input {
    width: 170px;
  }
}
@media screen and (max-width: 1050px) {
  .test {
    display: grid;
    grid-template-columns: repeat(2, 550px);
  }
  .search {
    margin-right: 130px;
  }
}
@media screen and (max-width: 900px) {
  .test {
    display: grid;
    grid-template-columns: repeat(2, 400px);
  }
}

@media screen and (max-width: 600px) {
  .test {
    display: grid;
    grid-template-columns: repeat(1, 10px);
    margin-left: 40px;
  }
  h1 {
    margin-right: -1px;
  }

  img {
    width: 200px;
    margin-bottom: -80px;
  }
  .search {
    margin:50px
  }
  hr {
    color: rgb(247, 245, 245);
    
  }
  button{
    width: 60px;
  }
  input{
    width: 150px;
  }
}
  