footer {
  
  text-align: center;
  }
.footer {
  margin-top: 3rem;
  margin-left: 1rem;
}
.logo {
  font-size: 2.3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  text-decoration: none;
}

span {
  color: #0c6666;
}



ul {
  display: grid;
  grid-template-columns: repeat(4,100px);
  
}
ul li {
  list-style-type: none;
  margin-top: 10px;
  color: white;
  font-size: 2rem;

  padding: .5rem;
  
}
i {
  padding: 2.5rem ;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: white;
  width: 60px;
}
a {
  color: white;
  text-decoration: none;
  justify-content: center;
  font-size: 1.7rem;
}
h5{
  color: white;
  margin-top: 1rem;
}

@media screen and (max-width: 550px) {
  i{
    font-size: 1rem;
    
    }
  .logo {
    font-size: 1.5rem;
    margin-right: 2rem;
  }


  ul li{
   
   font-size: 1rem;


  }
  ul{
    display: grid;
    grid-template-columns: repeat(2,155px);
    margin-left: 30px;
  }
  h3 {
    margin-right: 50px;
    
  }
}
@media screen and (max-width:1050px) {

}
@media screen and (max-width:900px) {
  ul li{
   display: grid;
   grid-template-columns: repeat(3,150px);
  }
}



  
