<footer>
  <hr>
  <div class="icons">
    <a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
    <a href="www.twitter.com"><i class="fa fa-twitter-square"></i></a>
    <a href="www.linkedin.com"><i class="fa fa-linkedin"></i></a>
    <a href="www.gmail.com"><i class="fa fa-envelope"></i></a>
  </div>

  <div class="link">
    <ul>
      <li><a href="/">Privacy Policy</a></li>
      <li><a href="/">Accessibility Statement</a></li>
      <li><a href="/">Cookie Settings</a></li>
      <li><a href="/"> Terms and Conditions</a></li>
      <li><a href="/">Conditions of Use</a></li>
      <li><a href="/"> Advertising</a></li>
      <li><a href="/">Jobs</a></li>
      <li><a href="/"> Help</a></li>
      
    </ul>
  </div>
  <div class="footer">
    <a class="logo" href="/"><span>Movie</span>Time</a>
  </div>
  
  <h5>&copy; 2021-2022 by Esraa Alkhalilah</h5>

</footer>
