


.navbar{
  background-color: rgb(14, 56, 56);
  height: 55px; 
}
.logo{
 font-size: 2.5rem; 
 margin: 10px;

}
.collapse{
  display: flex;
  justify-content: space-evenly;
}


ul li {
  padding: 5px;
  list-style-type: none;
  margin: 10px;
 
}
.navbar-toggler{
  background-color: black;
  margin: 5px;

}
span {
  color: #41cece;
}
.home {
  display: flex;
  font-size: 1.7rem;
  
}
.auth {
  display: flex;
  font-size: 1.6rem;
  margin-left: 15rem;
}
a {
  text-decoration: none;
  color: white;
}
a:hover{
  color: black;
}
button{
  width: 8rem; 
  height: 40px; 
  margin: 1rem;
  border-radius: 9px;
  color:white;
  background-color:rgb(14, 56, 56) ;
}
.logout{
    display: flex;
    font-size: 1.8rem;
     color:white
}


@media screen and (max-width: 500px){
 .navbar-nav {
   background-color: black;
   display: block;
   margin: 2px;
   width: 450px;

   
   
 }
 .navbar-toggler{
   width:45px;
   height:35px;
   border-radius: 3px;
 }
 .auth{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
 }
 .home{
   display: flex;
   flex-direction: column;
 }
 .logout{
   display: flex;
   flex-direction: column;
   
 }
}


