.navbar {
  background-color: rgb(14, 56, 56);
  height: 55px;
}

.logo {
  font-size: 2.5rem;
  margin: 10px;
}
.menu {
  display: flex;
  justify-content: space-around;
}

ul li {
  padding: 5px;
  list-style-type: none;
  margin: 10px;
}
.navbar-toggler {
  background-color: black;
}
span {
  color: #41cece;
}
.home {
  display: flex;
  font-size: 1.7rem;
  margin-left: 30rem;
}
.auth {
  display: flex;
  font-size: 1.6rem;
  margin-left: 35rem;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: black;
}
button {
  width: 8rem;
  height: 40px;
  margin: 1rem;
  border-radius: 9px;
  color: white;
  background-color: rgb(14, 56, 56);
}

.logout {
  display: flex;
  font-size: 1.8rem;
  color: white;
}

@media screen and (max-width: 950px) {
  .navbar-nav {
    background-color: black;
    display: block;
    margin: 2px;
    
  }
  .navbar-toggler {
    width: 45px;
    height: 28px;
    border-radius: 3px;
  }
  .auth {
    display: flex;
    flex-direction: column;

    margin: auto;
  }

  .home {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .logout {
    display: flex;
    flex-direction: column;
  }
  a:hover {
    color: #41cece;
  }
}
@media screen and (max-width:1300px){
  .auth{
    margin-left: 130px;
  }
}
@media screen and (max-width:1050px) {
  .auth{
    margin-left: 40px;
  }

}

