/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
@import "~bootstrap/dist/css/bootstrap.css" ;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 100%;
    background-color: black;
  }
  html {
    font-size: 62.5%;
  }
  .sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;

  }
  .input-auth{
    margin: 1rem;
    font-size: 1rem;
  }
  
  .input-auth__input {
    width: 45rem;
    height: 5rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    outline-color: rgb(149, 184, 245);
    line-height: 1rem;
    padding: 1rem;
  }
  
  .title {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 600;
    color: #086464;
  }
   .auth-a{
    color: #097575;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-decoration: none;
  }
  .err {
    color: #b85c5c !important;
    font-weight: 700;
    font-size: 2rem;
    margin-left: -24rem;
  }
  .button {
    background-color: #085757;
    color: #fff;
    width: 15rem;
    height: 5rem;
    font-size: 1.8rem;
    border: white;
    cursor: pointer;
    border-radius: 1.2rem;
    margin-left: 2rem;
    margin-top: .4rem;
  }
  .bg{
    background-color: white;
}
::placeholder{
  font-size: large;
}
  
@media screen and (max-width: 700px){
 .button{
   width: 150px;
 }
 .input-group__input{
  width: 280px;
 }
}